#main-detail-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

#image-container {
	margin-top: 2vh;
  display: flex;
  flex-direction: row;
	border: solid 1px;
  width: 100vw;
  height: 60vh;
	overflow: hidden;
}

#image-container img {
	max-width:100%;
	max-height:100%;
	transition: -ms-transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s, -webkit-transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s, opacity 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s !important;
}

#center-container {
	display: flex;
	flex-direction: row;
	width: 70vw;
	height: 180vh;
	margin-left: 15vw;
	margin-right: 15vw;
	padding-top: 10vh;
	margin-bottom: 30vh;
}

#listing-description-container {
	width: 40vw;
}

#description-title {
	font-size: 2.2vw;
	font-weight: 650!important;
	width: 35vw;
}

#description-profile {
	font-size: 1vw;
	margin-left: 3vw;
	margin-right: 3vw;
	text-align: center;
}

#description-profile img {
	height:1vh;
	width:1vh;
}

#description-profile img {
	height:7vh;
	width:7vh;
}

#description-top-section {
	display: flex;
	flex-direction: row;
}

.description-headline {
	display: flex;
	flex-direction: row;
	width: 15vw;
	padding: 1vh;
}

.description-headline img {
	align-self: start;
	padding-right: 1vh;
}

.description-section {
	display: flex;
	flex-direction: column;
	margin-top: 5vh;
	padding-top:5vh;
  border-top: rgb(227, 227, 227) solid 0.5px;
	letter-spacing: .3px;
	line-height: 1.5;
	font-weight: 300!important;
	text-align: justify;
}

#amenities {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.amenity {
	margin-top: 4vh;
	margin-bottom: 3vh;
	display: flex;
	width: 20vw;
}

.amenity img {
	margin-right: .5vw;
	align-self: start;
}

#review-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 4vh;
	padding:3vh;
  border-radius: 4px;
	fill: rgb(255, 255, 255) !important;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px 0px !important;
	border-width: 1px !important;
	border-style: solid !important;
	border-radius:12px;
	border-color: rgb(255, 255, 255) !important;
}

#review-container span {
	margin-top: .5vw;
	display: flex;
}

#review-container img {
	height: 7vh;
	width: 7vh;
	margin-right: 1vw;
	margin-bottom: 1vw;
	margin-top: 1.2vh;
	align-self: start;
}

#review-top {
	display: flex;
	flex-direction: row;
	font-size: 2vh;
	font-weight:500;
}

#book-listing-container {
	width: 30vw;
	height: 50vh;
	margin-left:8vh;
  border: rgb(227, 227, 227) solid 0.5px;
}

#book-listing-container button {
	width: 10vw;
	height: 5vh;
  background-color: #FF5A5F;
  color: white;
  border: none;
  border-radius: 4px;
}
