#main-detail-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

#image-container {
	margin-top: 2vh;
  display: flex;
  flex-direction: row;
	border: solid 1px;
  width: 100vw;
  height: 60vh;
	overflow: hidden;
}

#image-container img {
	max-width:100%;
	max-height:100%;
	transition: -ms-transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s, -webkit-transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s, opacity 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s !important;
}

/* #image-container img:hover {
	max-width:110%;
	max-height:110%;
} */

#description-profile img {
	height:50px;
	width:50px;
}

#center-container {
	display: flex;
	flex-direction: row;
	width: 70vw;
	height: 100vh;
	margin-left: 15vw;
	margin-right: 15vw;
	padding-top: 10vh;
	margin-bottom: 20vh;
}

#listing-description-container {
	width: 45vw;
}

#description-title {
	background-color: none;
}

#description-profile {
	font-size: 14px;
	margin-left: 3vw;
	margin-right: 3vw;
	text-align: center;
}

#description-profile img {
	height:50px;
	width:50px;
}

#description-top-section {
	display: flex;
	flex-direction: row;
	background-color: none;
}

.description-section {
	margin-top: 5vh;
	padding-top:5vh;
  border-top: rgb(227, 227, 227) solid 0.5px;
	letter-spacing: .5px;
	line-height: 1.5;
	font-weight: 300!important;
	text-align: justify;
}

#book-listing-container {
	width: 30vw;
	height: 50vh;
	margin-left:8vh;
  border: rgb(227, 227, 227) solid 0.5px;
}

#book-listing-container button {
	width: 10vw;
	height: 5vh;
  background-color: #FF5A5F;
  color: white;
  border: none;
  border-radius: 4px;
}
