.navbar {
  width: 100%;
  /* overflow: auto; */
}

.navbar a {
  color: #484848;
  float: right;
  padding: 1vw;
  text-decoration: none;
  font-size: 1vw;
  margin-right: 2vw;
  margin-top: 2vh;
}

.navbar img {
  padding-left: 2%;
  padding-top: 1%;
  height: 5%;
  width: 5%;
}

.navbar img:hover {
  cursor: pointer;
}

/* Phone */
@media only screen and (max-width: 600px) {
  .navbar a {
    font-size: 4vw;
    float: right;
    margin-top: 2vw;
    margin-left: 5%;
  }

}
