#registration-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 15vh;
  left: 0;
  top: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#registration-modal-content {
  height: 80vh;
  width: 35vw;
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  border-radius: 4px;
  font-size: 2.5vh;
  box-shadow: 0 16px 40px rgba(0,0,0,0.25);
  border-bottom: rgb(227, 227, 227) solid 0.5px;
}

#registration-content {
  /* height: 75vh;
  width: 35vw; */
  margin-left: 8vw;
  margin-right: 8vw;
  margin-top: 16vh;
  font-size: 2.5vh!important;
}

#registration-content label {
  font-weight: 800;
  font-size: 2vh;
  color: #484848;
  letter-spacing: 1px;
  margin-bottom: 8px;
}

.registration-input {
  background: none!important;
  outline: none;
  width: 20vw!important;
  height: 6vh!important;
  border: 1px solid rgb(231, 231, 231);
  color: #484848;
  font-size: 2.5vh;
  padding: 1.5vh;
  box-sizing: border-box;
  margin-top: 1vh;
  margin-bottom: 3vh;
}

#registration-button {
  background-color: #FF5A5F;
  color: white;
  border: none;
  border-radius: 4px;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  width: 20vw;
  font-size: 2.5vh;
  line-height: 24px;
}

.close {
  color: #aaaaaa;
  float: right;
  margin-top: 1.5vh;
  margin-right: 1.3vw;
  font-size: 5vh;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
